*.class
*.log
*.jar
*.zip
*.exe
README.md~
.gitignore~
LICENSE~
*BuildVersion*

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# temp files
*~
temp/

# eclipse stuff
.project
.classpath
.cache
.settings
.settings/

# intellij
.idea
.idea/

*.so
*.dll
*.jnilib
natives/
